@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
  width: 100vw;
  margin: 0;
  background-color: #191d28;
  font-family: Oswald,sans-serif !important;
  overflow-x: hidden;
}